* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#about-me-bg {
	display: block;
	width: 100%;
	height: auto;

	position: fixed;
	top: 0;
	z-index: -1;
}

/* Content Styling */
html {
	font-size: 12pt;
}

body {
	height: 100%;
	min-height: 100vh;
	position: relative;
	background: #fff;
	color: #444;
}

#mobile-footer {
	display: none;
}

.tooltip-inner {
	max-width: 320px !important;
	text-align: left !important;
	background-color: rgb(105, 105, 105) !important;
	font-size: 12px;
}

.tooltip-arrow::before {
	display: none;
	border-color: rgb(255, 255, 255) !important;
	padding-bottom: 10px !important;
}

#welcome {
	display: block;
	color: rgb(255, 255, 255);
	margin-top: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;
	width: 100%;
	height: fit-content;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 105px;
	text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2);
}

#me {
	background-image: url(../pictures/me.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 14em;
	height: 14em;
	border-radius: 6px;
}

#info {
	margin-top: 17px;
	width: 26.25em;
	height: fit-content;
	background-color: rgba(255, 255, 255, 1);
	padding: 20px;
	padding-right: 15px;
	border-radius: 6px;
}

table {
	border-collapse: collapse;
	letter-spacing: 1px;
	font-size: 1em;
	table-layout: fixed;
	width: 100%;
}

#heading {
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}

td {
	text-align: left;
	padding-right: 20px;
	font-size: 14px;
}

strong {
	color: #444;
}

#menu a {
	color: black;
	text-decoration: none;
}

#about-page {
	position: absolute;
	margin-bottom: 210px;
	margin-right: 370px;
}

#about-page button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	cursor: pointer;
}

#ap-img {
	background-image: url(../pictures/info.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 3.2em;
	height: 3.2em;

	transition: all ease 0.1s;
	filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
}

button:hover #ap-img {
	transform: scale(1.1);
	filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.7));
	transition: all ease 0.25s;
}

/* The not really a footer */
#find-me {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-right: -525px;
	position: absolute;
	margin-top: 157px;
}

#cat {
	width: 3em;
	height: auto;
	align-self: center;
	filter: invert(68%) sepia(8%) saturate(88%) hue-rotate(329deg) brightness(94%)
		contrast(89%);
}

.bi:before {
	color: rgb(255, 255, 255);
	font-size: 36px;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

ul.icons button {
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	list-style: none;
}

.icons button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 12px;
	width: 100%;
}

.icons button {
	width: 100%;
	background: none;
	border: none;
	font: inherit;
	outline: inherit;
	cursor: pointer;
	padding: 12px 10px 10px 10px;
	margin: 10px 0px;
}

.icons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	background-color: rgba(30, 30, 30, 0.5);
	border-radius: 12px;
	box-shadow: 0px 0px 7px black;
}

.label {
	color: rgb(255, 255, 255);
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
}

small {
	display: flex;
	position: absolute;
	bottom: 0;
	width: fit-content;
	height: fit-content;
	background-color: rgba(255, 255, 255, 0.2);
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 20px;
	border-top-right-radius: 15px;
}

/* Navigation Bar */
header {
	position: sticky;
	top: 0px;
	z-index: 1;
}

#menu {
	display: grid;
	justify-content: center;
	background-color: #e2e2e2;
	color: rgb(0, 0, 0);
	height: 40px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 0px;
	margin: 0 auto;
}

#menu ul,
#menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#menu li {
	float: left;
	display: inline;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}

#menu a {
	display: block;
	line-height: 40px;
	padding: 0 14px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);

	font-size: 1em;
	text-transform: capitalize;
}

#menu li a:hover {
	background-color: #a09fa0;
	color: white;
}

#menu label {
	display: none;
	line-height: 40px;
	text-align: center;
	position: absolute;
	left: 35px;
}

body nav ul #current-page {
	/* background-color: rgba(58, 47, 43, 0.6); */
	background-color: rgb(38, 38, 38);
	color: white;
	pointer-events: none;
}

#submenu {
	display: none;
}

@media (min-aspect-ratio: 16/9) {
	#about-me-bg {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	#about-me-bg {
		width: auto;
		height: 100%;
	}
}

@media (max-width: 1600px) {
	.wrapper {
		transform: scale(0.8);
		margin-top: 15px;
	}

	#welcome {
		font-size: 24px;
		padding: 15px;
	}
	small {
		padding: 15px;
		font-size: 12px !important;
	}
}

@media (max-width: 992px) {
	body {
		background-image: url(../pictures/bg.webp);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		width: 100%;
		height: 100vh;
		min-height: 800px;
	}

	.background {
		display: none;
	}

	#find-me {
		display: flex;
	}
}

@media (max-width: 576px) {
	body {
		background-image: url(../pictures/bg.webp);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		height: 100vh;
		min-height: 800px;
	}

	.background {
		display: none;
	}

	#welcome {
		font-size: 1.5rem;
		height: fit-content;
		padding: 10px;
	}

	.wrapper {
		margin: 0px;
		transform: scale(0.8);
	}

	#me {
		border-radius: 50%;
	}

	#find-me {
		display: none;
	}

	#mobile-footer {
		display: inline-flex;
		flex-direction: row;
		position: absolute;
		bottom: 0px;
		width: 100%;
	}

	#cat {
		display: none;
	}

	.icons {
		display: inline-flex;
		flex-direction: row-reverse;
		justify-content: center;
		text-align: center;
		align-items: center;
		align-content: center;
		margin: 0 auto;
		width: 100%;
		border-radius: 0px;
	}

	ul.icons button {
		text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
		list-style: none;
	}

	.icons button:hover {
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 0px;
		width: 100%;
	}

	.icons button {
		width: 100%;
		background: none;
		border: none;
		font: inherit;
		outline: inherit;
		cursor: pointer;
		padding: 0px;
		margin: 0px;
		padding: 14px 10px 10px 10px;
		font-size: 14px;
	}

	.sm-tr {
		display: none;
	}

	#submenu {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		position: absolute;
		width: 50px;
		height: 40px;
		left: 0;
		border: none;
		background: none;
	}

	#submenu.clicked {
		background: rgb(182, 182, 182);
	}

	#submenu i {
		color: rgb(0, 0, 0);
		font-size: 1.5rem;
		padding-right: 2px;
	}

	#submenu i.color {
		color: white;
	}

	#menu ul {
		display: none;
		flex-direction: column;
		position: absolute;
		left: 0;
		width: 100%;
		height: fit-content;
		margin-top: 40px;
		background-color: #262626;
	}

	#menu .show-menu {
		display: flex;
	}

	#menu li {
		text-align: left;
		padding: 0;
		width: 100%;
	}

	#menu li a:hover {
		background-color: rgb(255, 255, 255);
		color: black;
	}

	#menu a {
		float: none;
		color: rgb(255, 255, 255);
		height: 50px;
		padding-top: 5px;
		font-size: 1.15em;
	}

	#menu #current-page {
		background: #5b5555;
		color: #ffffff;
	}
	#menu #current-page::after {
		content: ' ⬅';
	}
}
