* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Footer */
body {
    height: 100%;
    min-height:100vh; 
    margin:0; 
    position:relative; 
}

body::after {
    content: '';
    display: block;
    height: 60px; /* Set same as footer's height */
}

#footer {
    display: inline-flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    background-color: rgba(12, 12, 12, 0.3);
    
}

.icon:before {
    color: rgb(255, 255, 255);
    font-family: FontAwesome;
    font-size: 18px;
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
}

ul.icons li {
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;  
    list-style: none;
}

.icons li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icons {
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;
    align-items: center;
    align-content: center;
    width: fit-content;
    background-color: #a09fa000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.label{
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
}

small {
    display: flex;
    width: 300px;
    align-items: center;
    font-size: 12px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: #a09fa000;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-left: 6px;
    text-align: left;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Grid Structuring */
.wrapper {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 200px;
}

.html {
    grid-column: 1;
    grid-row: 1;  
}

.css {
    grid-column: 2;
    grid-row: 1;  
}


.javascript {
    grid-column: 3;
    grid-row: 1;
    grid-row: 1;  
}



/* Navigation Bar */
#menu {
    display: grid;
    justify-content: center;
	background-color: #e2e2e2;;
	color: rgb(0, 0, 0);
	height: 40px;
	padding-left: 18px;
	border-radius: 0px;
    margin: 0 auto;
}

#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}

#menu li {
	float: left;
	display: inline;
	position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

#menu a {
	display: block;
	line-height: 40px;
	padding: 0 14px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7); 
	font-size: 16px;
	text-transform: capitalize;
}

#menu li a:hover {
	background-color: #a09fa0;
    color: white;
}

#menu label {
	display: none;
	line-height: 40px;
	text-align: center;
	position: absolute;
	left: 35px;
}

body nav ul #current-page {
    background-color: rgb(38, 38, 38);;
    color: white;
    pointer-events: none;
}




/* Content Styling */
html {
    font-size: 12pt;
}

body{
    background-color: rgb(255, 255, 255);
    background-image: url(/assets/pictures/bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
}

#welcome{
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
}

.wrapper{
    margin-top: 70px;
}

.box-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-image span {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 15px;
    color: #fff;
    font-size: 48px;
    background-color: rgb(38, 38, 38, 1);
    text-shadow: 1px 1px 5px black;
    text-align: center;
    align-items: center;
    align-content: center;
}

.html, .useful {
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2);
    background-color:  rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 2px white;
}

.css, .tools {
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2);
    background-color:  rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 2px white;
}

.javascript, .extensions {
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2);
    background-color:  rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 2px white;
}

.links h5 {
    margin-left: 10px;
        color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links{
    margin-top: 5px;
}

.links ul {
    margin-bottom: 5px;
}

.links a {
    font-size: 1em;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links a:hover {
    text-decoration: 2px underline;
}

.wrapper li {
    list-style: none;
    margin-left:15px;
    padding: 0px;
}