* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Grid Structuring */
.wrapper {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 200px;
}

.useful {
    grid-column: 1;
    grid-row: 1;  
}

.tools {
    grid-column: 2;
    grid-row: 1;  
}


.extensions {
    grid-column: 3;
    grid-row: 1;
    grid-row: 1;  
}

/* Footer */
body {
    height: 100%;
    min-height:100vh; 
    margin:0; 
    position:relative; 
}

body::after {
    content: '';
    display: block;
    height: 60px; /* Set same as footer's height */
}

#footer {
    display: inline-flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color:  rgba(40, 36, 34, 0.7);
    background-image: url(/assets/pictures/footer.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    
}

.icon:before {
    color: rgb(255, 255, 255);
    font-family: FontAwesome;
    font-size: 18px;
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
}

ul.icons li {
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;  
    list-style: none;
}

.icons li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icons {
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;
    align-items: center;
    align-content: center;
    width: fit-content;
    background-color: #a09fa0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.label{
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
}

small {
    display: flex;
    width: 300px;
    align-items: center;
    font-size: 12px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: #a09fa0;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-left: 6px;
    text-align: left;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Navigation Bar */
#menu {
    display: grid;
    justify-content: center;
	background-color: #e2e2e2;;
	color: rgb(0, 0, 0);
	height: 40px;
	padding-left: 18px;
	border-radius: 0px;
    margin: 0 auto;
}

#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}

#menu li {
	float: left;
	display: inline;
	position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

#menu a {
	display: block;
	line-height: 40px;
	padding: 0 14px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7); 
	font-size: 16px;
	text-transform: capitalize;
}

#menu li a:hover {
	background-color: #a09fa0;
    color: white;
}

#menu label {
	display: none;
	line-height: 40px;
	text-align: center;
	position: absolute;
	left: 35px;
}

body nav ul #current-page {
    background-color: rgba(58, 47, 43, 0.6);
    color: white;
}

/* Button for links */
button {
    display: block;
    margin-left: 10px;
    text-align: left;
    border: none;
    background: none;
	color: inherit;
}

button:hover {
    cursor: pointer;
}

button:hover::after {
    content: '⬅';
    margin-left: 2px;
    cursor: pointer;
    font-weight: bold;
}

.links{
    margin-top: 7px;
    margin-bottom: 14px;
}

.links li {    
    /* display: none; */
    margin-left: 25px;
    font-size: 14px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.links ul {
    margin-bottom: 10px;
}

/* Content Styling */
html {
    font-size: 12pt;
}

body {
    background: #fff;
    color: #444;
}

a {
    color: black;
    text-decoration: none;
}

h5 {
    margin-left: 10px;
}

#welcome{
    display: block;
    color: rgb(255, 255, 255);
    background-color: RGB(160, 159, 160);
    padding: 10px;
    width: 100%;
    height: fit-content;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
}

.wrapper li {
    list-style: none;
    margin-left:15px;
    padding: 0px;
}

.wrapper a:hover {
    color: rgb(113, 106, 106);
    text-decoration: underline;
}

.useful-image {
    background-image: url(/assets/pictures/useful-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 250px;
}

.tools-image {
    background-image: url(/assets/pictures/tools-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 250px;
    color: #fff;
}

.box-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extensions-image {
    background-image: url(/assets/pictures/extensions-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 250px;
}

.box-image span {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: fit-content;
    padding: 15px;
    color: #fff;
    font-size: 48px;
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow:  0px 0px 7px black;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    align-items: center;
    align-content: center;
}

.useful {
    /* background-color:  rgba(115, 115, 115, 0.05); */
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2);
    background-color:  rgb(255, 255, 255);
}

.tools {
    /* background-color:  rgba(115, 115, 115, 0.05); */
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2);
    background-color:  rgb(255, 255, 255);
}

.extensions {
    /* background-color:  rgba(115, 115, 115, 0.05); */
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2);
    background-color:  rgb(255, 255, 255);
}

body{
    background-color: rgb(230, 230, 230);
}