@keyframes transitionLtR {
    from {
        opacity: 0;
        transform: translateX(-1200px);
    }
    to {
        opacity: 1;
    }
}

.transition{
    animation: transitionLtR 1.75s ease-in-out;
}

@keyframes transitionTtB {
    from {
        opacity: 0;
        transform: translateY(-100px );
        z-index: -1;
    }
    to {
        opacity: 1;
        z-index: -1;
    }
}

.welc-tr{
    animation: transitionTtB 1.5s ease-in; 
}

@keyframes transitionSm {
    from {
        opacity: 0;
        transform: translateX(-100px );
    }
    to {
        opacity: 1;
    }
}

.sm-tr{
    animation: transitionSm 1.25s ease-in-out;
}


@keyframes transitionOpSc {
    from {
        opacity: 0.25;
    }
    to {
        opacity: 1;
    }
}

/* .other-tr{
    animation: transitionOpSc 0.75s ease-in;
} */

@keyframes transitionTTout {
    from {
        opacity: 1;

    }
    to {
        opacity: 0;
        transform: translateX(-400px);
    }
}

@keyframes transitionTTin {
    from {
        opacity: 0;
        transform: translateX(-400px);
    }
    to {
        opacity: 1;
    }
}